.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
/.idea/*

# IDEA/Android Studio Ignore exceptions
!/.idea/codeStyles/
!/.idea/vcs.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml
